DocDokuClient/xml-resources/web-service-references/UploadDownloadService/wsdl/localhost_8080/community/UploadDownloadService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://http.server.docdoku.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://http.server.docdoku.com/" name="UploadDownloadService">
<ns1:Policy xmlns:ns1="http://www.w3.org/ns/ws-policy" wsu:Id="UploadDownloadPortBinding_MTOM_Policy">
<ns1:ExactlyOne>
<ns1:All>
<ns2:OptimizedMimeSerialization xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"></ns2:OptimizedMimeSerialization>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://http.server.docdoku.com/" schemaLocation="http://localhost:8080/community/UploadDownloadService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="downloadFromDocument">
<part name="parameters" element="tns:downloadFromDocument"></part>
</message>
<message name="downloadFromDocumentResponse">
<part name="parameters" element="tns:downloadFromDocumentResponse"></part>
</message>
<message name="NotAllowedException">
<part name="fault" element="tns:NotAllowedException"></part>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"></part>
</message>
<message name="UserNotFoundException">
<part name="fault" element="tns:UserNotFoundException"></part>
</message>
<message name="UserNotActiveException">
<part name="fault" element="tns:UserNotActiveException"></part>
</message>
<message name="downloadFromTemplate">
<part name="parameters" element="tns:downloadFromTemplate"></part>
</message>
<message name="downloadFromTemplateResponse">
<part name="parameters" element="tns:downloadFromTemplateResponse"></part>
</message>
<message name="uploadToDocument">
<part name="parameters" element="tns:uploadToDocument"></part>
</message>
<message name="uploadToDocumentResponse">
<part name="parameters" element="tns:uploadToDocumentResponse"></part>
</message>
<message name="MasterDocumentNotFoundException">
<part name="fault" element="tns:MasterDocumentNotFoundException"></part>
</message>
<message name="FileAlreadyExistsException">
<part name="fault" element="tns:FileAlreadyExistsException"></part>
</message>
<message name="uploadToTemplate">
<part name="parameters" element="tns:uploadToTemplate"></part>
</message>
<message name="uploadToTemplateResponse">
<part name="parameters" element="tns:uploadToTemplateResponse"></part>
</message>
<message name="MasterDocumentTemplateNotFoundException">
<part name="fault" element="tns:MasterDocumentTemplateNotFoundException"></part>
</message>
<portType name="UploadDownload">
<operation name="downloadFromDocument">
<input message="tns:downloadFromDocument"></input>
<output message="tns:downloadFromDocumentResponse"></output>
<fault message="tns:NotAllowedException" name="NotAllowedException"></fault>
<fault message="tns:FileNotFoundException" name="FileNotFoundException"></fault>
<fault message="tns:UserNotFoundException" name="UserNotFoundException"></fault>
<fault message="tns:UserNotActiveException" name="UserNotActiveException"></fault>
</operation>
<operation name="downloadFromTemplate">
<input message="tns:downloadFromTemplate"></input>
<output message="tns:downloadFromTemplateResponse"></output>
<fault message="tns:NotAllowedException" name="NotAllowedException"></fault>
<fault message="tns:FileNotFoundException" name="FileNotFoundException"></fault>
<fault message="tns:UserNotFoundException" name="UserNotFoundException"></fault>
<fault message="tns:UserNotActiveException" name="UserNotActiveException"></fault>
</operation>
<operation name="uploadToDocument">
<input message="tns:uploadToDocument"></input>
<output message="tns:uploadToDocumentResponse"></output>
<fault message="tns:NotAllowedException" name="NotAllowedException"></fault>
<fault message="tns:MasterDocumentNotFoundException" name="MasterDocumentNotFoundException"></fault>
<fault message="tns:FileAlreadyExistsException" name="FileAlreadyExistsException"></fault>
<fault message="tns:UserNotFoundException" name="UserNotFoundException"></fault>
<fault message="tns:UserNotActiveException" name="UserNotActiveException"></fault>
</operation>
<operation name="uploadToTemplate">
<input message="tns:uploadToTemplate"></input>
<output message="tns:uploadToTemplateResponse"></output>
<fault message="tns:NotAllowedException" name="NotAllowedException"></fault>
<fault message="tns:MasterDocumentTemplateNotFoundException" name="MasterDocumentTemplateNotFoundException"></fault>
<fault message="tns:FileAlreadyExistsException" name="FileAlreadyExistsException"></fault>
<fault message="tns:UserNotFoundException" name="UserNotFoundException"></fault>
<fault message="tns:UserNotActiveException" name="UserNotActiveException"></fault>
</operation>
</portType>
<binding name="UploadDownloadPortBinding" type="tns:UploadDownload">
<ns3:PolicyReference xmlns:ns3="http://www.w3.org/ns/ws-policy" URI="#UploadDownloadPortBinding_MTOM_Policy"></ns3:PolicyReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="downloadFromDocument">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NotAllowedException">
<soap:fault name="NotAllowedException" use="literal"></soap:fault>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="UserNotFoundException">
<soap:fault name="UserNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="UserNotActiveException">
<soap:fault name="UserNotActiveException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="downloadFromTemplate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NotAllowedException">
<soap:fault name="NotAllowedException" use="literal"></soap:fault>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="UserNotFoundException">
<soap:fault name="UserNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="UserNotActiveException">
<soap:fault name="UserNotActiveException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="uploadToDocument">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NotAllowedException">
<soap:fault name="NotAllowedException" use="literal"></soap:fault>
</fault>
<fault name="MasterDocumentNotFoundException">
<soap:fault name="MasterDocumentNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="FileAlreadyExistsException">
<soap:fault name="FileAlreadyExistsException" use="literal"></soap:fault>
</fault>
<fault name="UserNotFoundException">
<soap:fault name="UserNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="UserNotActiveException">
<soap:fault name="UserNotActiveException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="uploadToTemplate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NotAllowedException">
<soap:fault name="NotAllowedException" use="literal"></soap:fault>
</fault>
<fault name="MasterDocumentTemplateNotFoundException">
<soap:fault name="MasterDocumentTemplateNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="FileAlreadyExistsException">
<soap:fault name="FileAlreadyExistsException" use="literal"></soap:fault>
</fault>
<fault name="UserNotFoundException">
<soap:fault name="UserNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="UserNotActiveException">
<soap:fault name="UserNotActiveException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="UploadDownloadService">
<port name="UploadDownloadPort" binding="tns:UploadDownloadPortBinding">
<soap:address location="http://localhost:8080/community/UploadDownloadService"></soap:address>
</port>
</service>
</definitions>