DocDokuClient/src/META-INF/wsdl/localhost_8080/community/UploadDownloadService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><xs:schema xmlns:tns="http://http.server.docdoku.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://http.server.docdoku.com/">

<xs:element name="FileAlreadyExistsException" type="tns:FileAlreadyExistsException"></xs:element>

<xs:element name="FileNotFoundException" type="tns:FileNotFoundException"></xs:element>

<xs:element name="MasterDocumentNotFoundException" type="tns:MasterDocumentNotFoundException"></xs:element>

<xs:element name="MasterDocumentTemplateNotFoundException" type="tns:MasterDocumentTemplateNotFoundException"></xs:element>

<xs:element name="NotAllowedException" type="tns:NotAllowedException"></xs:element>

<xs:element name="UserNotActiveException" type="tns:UserNotActiveException"></xs:element>

<xs:element name="UserNotFoundException" type="tns:UserNotFoundException"></xs:element>

<xs:element name="downloadFromDocument" type="tns:downloadFromDocument"></xs:element>

<xs:element name="downloadFromDocumentResponse" type="tns:downloadFromDocumentResponse"></xs:element>

<xs:element name="downloadFromTemplate" type="tns:downloadFromTemplate"></xs:element>

<xs:element name="downloadFromTemplateResponse" type="tns:downloadFromTemplateResponse"></xs:element>

<xs:element name="uploadToDocument" type="tns:uploadToDocument"></xs:element>

<xs:element name="uploadToDocumentResponse" type="tns:uploadToDocumentResponse"></xs:element>

<xs:element name="uploadToTemplate" type="tns:uploadToTemplate"></xs:element>

<xs:element name="uploadToTemplateResponse" type="tns:uploadToTemplateResponse"></xs:element>

<xs:complexType name="downloadFromTemplate">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadFromTemplateResponse">
<xs:sequence>
<xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" name="return" ns1:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NotAllowedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserNotActiveException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadToTemplate">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element xmlns:ns2="http://www.w3.org/2005/05/xmlmime" name="arg3" ns2:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadToTemplateResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="MasterDocumentTemplateNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileAlreadyExistsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadFromDocument">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadFromDocumentResponse">
<xs:sequence>
<xs:element xmlns:ns3="http://www.w3.org/2005/05/xmlmime" name="return" ns3:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadToDocument">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element xmlns:ns4="http://www.w3.org/2005/05/xmlmime" name="arg5" ns4:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadToDocumentResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="MasterDocumentNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>